input {
    display: none;
}

.container {
    width: 100%;
    background-color: black;
}

main {
    position: relative;
    background-color: #232533;
    overflow: hidden;
    height: 100vh;
    padding-top: 77px;
    margin-left: 85px;
}

/* 이미지 자동 슬라이드 */
[name="slide"] {
    display: none;
}

.backgroundSection {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}

.slideList,
.slideItem,
.slideItem img {
    width: 100%;
    height: 100%;
    min-width: 1500px;
}

.backgroundSection .slideItem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}

@keyframes slide01 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    73% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    98% {
        left: -300%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide02 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    73% {
        left: -200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide03 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: -100%;
    }

    48% {
        left: -100%;
    }

    50% {
        left: 200%;
    }

    73% {
        left: 200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes slide04 {
    0% {
        left: 0%;
    }

    23% {
        left: 0%;
    }

    25% {
        left: 300%;
    }

    48% {
        left: 300%;
    }

    50% {
        left: 200%;
    }

    73% {
        left: 200%;
    }

    75% {
        left: 100%;
    }

    98% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

[id="slide01"]:checked~.slideList .slideItem {
    transform: translateX(0);
    animation: slide01 18s infinite;
}

[id="slide02"]:checked~.slideList .slideItem {
    transform: translateX(-100%);
    animation: slide02 18s infinite;
}

[id="slide03"]:checked~.slideList .slideItem {
    transform: translateX(-200%);
    animation: slide03 18s infinite;
}

[id="slide04"]:checked~.slideList .slideItem {
    transform: translateX(-300%);
    animation: slide04 18s infinite;
}

.backgroundSection::before {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://www.wavve.com/img/detail_gra_bg.093ce6cc.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: 10;
    content: "";
}

.backgroundSection a img {
    max-width: 100%;
    transition: opacity 0.3s ease-in-out;
    /* 기본 이미지를 보이게 함 */
    opacity: 1;
}

/* 뷰포트 사이즈가 850px 미만일때 바뀔 이미지에 대한 스타일 */
@media (max-width: 850px) {
    .HeaderLogo {
        justify-content: center;
    }

    main {
        margin-left: 85px;
    }

    .backgroundSection::before {
        display: none;
    }

    .slideList,
    .slideItem,
    .slideItem img {
        width: 100%;
        height: 100vh;
        min-width: 422px;
    }

    .backgroundSection a img .new-image {
        /* 기본 이미지를 숨김 */
        opacity: 0;
    }
}