input {
    display: none;
}

.container {
    width: 100%;
    background-color: black;
}

main {
    position: relative;
    overflow: hidden;
    padding-top: 77px;
    margin-left: 85px;
}

.background_main {
    height: 100%;
    padding-top: 2vw;
    margin-bottom: 3vw;
}

.background_mainSection {
    display: flex;
    justify-content: center;
    padding-left: 25px;
}

.movieMain {
    width: 50%;
    margin-right: 20px;
}

.background_mainSection img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-top: 15px;
}

.movieMainDesc {
    font-size: 21px;
    font-weight: 600;
    display: inline;
}

.movieTitle_main {
    color: #717171;
    margin-top: 6px;
    font-weight: 600;
    font-size: 18px;
    display: block;
}

.promotion {
    width: 100%;
    margin-top: 3vw;
    padding-left: 25px;
    padding-right: 20px;
}

.promotion_bar {
    width: 100%;
    height: 12vh;
    background: rgb(222, 42, 96);
    border-radius: 12px;
}

.promotion_bar_desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
    font-weight: 500;
    cursor: default;
}

.new,
.hot {
    display: inline;
    font-size: 14px;
    background: rgb(222, 42, 96);
    color: #eee;
    padding: 3px 8px;
    border-radius: 2px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 14px;
    text-align: center;
}

.promotion_bar_desc span {
    margin-top: 5px;
}

.promotion_bar_desc a {
    margin-top: 12px;
    text-decoration: revert;
    color: #eee;
}


@media (max-width: 900px) {
    .background_mainSection {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .movieMain {
        width: 100%;
        margin-bottom: 28px;
    }
}