#myPage {
    width: 100%;
    padding-left: 85px;
    padding-top: 77px;
    background-color: black;
    min-height: 100%;
}

.myPage_menu {
    margin: 10px 0 0 20px;
}

.myPage_menu button {
    padding: 14px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    font-size: 18px;
    cursor: pointer;
}

.historyContent {
    color: #717171;
    border: none;
}

.lockerContent {
    font-weight: 800;
    color: #eee;
    border: 1px solid #eee;
}

.contentBorder {
    background-color: rgb(27, 28, 29);
    width: 100%;
    height: 1px;
    padding: 1px;
    border: none;
    margin: 0px;
}