#Header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

/* #Header>div {
    position: relative;
    height: 89px;
    font-size: 0;
}  */

.HeaderLogo {
    display: inline-flex;
    align-items: center;
    margin-left: 110px;
    position: absolute;
    z-index: 999;
    height: 89px;
    font-size: 0;
}

.Header_Logo_link {
    width: 130px;
    margin-top: auto;
    margin-bottom: auto;
}

.HeaderNav {
    height: 100%;
    position: fixed;
    width: 5vw;
    width: 85px;
}

.HeaderNav>ul {
    height: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: #1b1b1b;
}

.HeaderNav>ul>li>a {
    font-size: 17px;
    line-height: 90px;
}

.searchIcon {
    border: none;
    height: 90px;
    font-size: large;
    cursor: pointer;
    background: #1b1b1b;
}

/* 검색창 토글 모션 */
.searchSection {
    position: fixed;
    z-index: 9998;
    width: 521px;
    background-color: #1b1b1b;
    height: 100%;
    padding-left: 110px;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
    top: 0;
    left: 0;
}

.searchSection.open {
    transform: translateX(0%);
}

@media (max-width: 850px) {
    .Header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9999;
    }

    .HeaderLogo {
        justify-content: center;
        width: 100%;
        padding-left: 85px;
        margin-left: 0;
    }

    .searchSection {
        width: 100%;
        padding-left: 85px;
    }

    .search {
        padding: 100px 20px 0 85px;
    }
}