.search {
    padding: 100px 20px 0 0;
}

#search-Data {
    display: block;
    width: 100%;
    height: 55px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 10px;
    margin-bottom: 30px;
    color: #eee;
    font-size: 17px;
    border-radius: 8px;
}

.searchSectionHistory {
    width: 100%;
    height: 100vh;
    padding-right: 10px;
}

.searchResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    transform: .3s;
}

.searchResult:hover {
    background: rgba(255, 255, 255, 0.1);
}

.searchResultTitle {
    flex-grow: 1;
}

.searchResultImg {
    width: 70px;
    height: 100px;
    margin-right: 30px;
}

.searchResultImg img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.searchResult p {
    color: #eee;
    font-size: 18px;
}

/* 스크롤바 */
.srcollBar {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.srcollBar::-webkit-scrollbar {
    width: 8px;
}

.srcollBar::-webkit-scrollbar-thumb {
    height: 30%;
    /* 길이 */
    background: #a5a5a5;
    /* 색상 */
    border-radius: 10px;
}

.srcollBar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.5);
}