.mp_locker {
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
    position: relative;
    z-index: 1;
    margin-top: 50px;
    height: 100%;
}

.mp_locker_li {
    position: relative;
    flex-basis: 30.33%;
    margin-right: 3%;
    height: 242px;
    margin-bottom: 50px;
    cursor: pointer;
}

.locker_li {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.mp_movie {
    position: absolute;
    inset: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.mp_movie:hover {
    opacity: 1;
}

.mp_movie_li {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

.mp_movie_li::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);
    width: 100%;
    height: 100%;
    z-index: 3;
}

.mp_movie_li_info {
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0px;
    bottom: 15px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 15px 15px 28px 15px;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.mp_movie_li_info p {
    font-family: 'VitroCore', sans-serif ;
    color: #eee;
    font-size: 25px;
}

.mp_movie_li_info span {
    color: #eee;
}

.mp_deletLocker {
    background: transparent;
    border: none;
    cursor: pointer;
}

.deletIcon {
    color: #eee;
    padding: 8px 10px;
    border-radius: 22px;
    float: right;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .1s;
} 

.deletIcon:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(222, 42, 96);
}

.noLockerSection {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 70px 0 90px 0;
}

.noLockerSection p {
    color: #717171;
    padding-top: 30px;
    font-size: 20px;
}

@media (max-width : 1340px) {
    .mp_movie_li_info {
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 6px 12px 15px 12px;
    }

    .mp_deletLocker {
        text-align: right;
    }

    .mp_movie_li_info p {
        color: #eee;
        font-size: 20px;
    }
}

@media (max-width: 650px) {
    #myPage {
        padding-left: 85px;
    }

    .myPage_menu {
        text-align: center;
        padding: 0 20px;
        margin: 20px 0;
    }

    .myPage_menu button {
        margin-left: 0;
        margin-right: 24px;
    }

    .mp_movie_li_info p {
        font-size: 20px;
    }

    .mp_locker_li {
        position: relative;
        margin-right: 3%;
        height: 150px;
        margin-bottom: 50px;
        cursor: pointer;
        flex-basis: 0;
    }

    .mp_locker {
        flex-direction: column;
        display: block;
    }
}